/*universal style*/

html {
  font-size: 18px;
  line-height: 1.4;
}

/*logo styles*/

.logo {
  padding-top: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*navigation style*/

nav {
  color: white;
  max-width: 960px;
  margin-top: 1rem;
  background-color: cadetblue;
  margin: 0 auto;
}

span {
  padding-right: 2rem;
  color: white;
}

span .logo {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
}

.hiddendesktop {
  display: none;
}

/*header with background image*/

header {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  height: 30rem;
  background-position: center;
  width: 100%;
}

.main-banner {
  padding: 1.5rem 5rem 1.5rem 5rem;
  background-color: white;
  padding-right: 5rem;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 300px;
  margin-top: 5rem;
}

h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/*services styles*/

.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.exams {
  margin-right: 3rem;
}

.exams img {
  width: 3.5rem;
}

.fittings {
  margin-left: 3rem;
  margin-right: 3rem;
}

.fittings img {
  width: 5rem;
}

.delivery {
  margin-left: 3rem;
}

.delivery img {
  width: 5rem;
}

/*support styles*/

.support-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 960px;
}

.support {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.philosophy {
  max-width: 35%;
}

.appointments {
  max-width: 35%;
}

h3 {
  font-family: Helvetica;
  background-color: cadetblue;
  font-weight: bold;
  color: white;
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/*footer styles*/

.footer-container {
  background-color: azure;
  max-width: 960px;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

footer img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}

footer span {
  color: black
}

/*media queries*/

/*query for tablet*/

@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
  }

  nav {
    width: 100%
  }

  header {
    width: 100%;
    margin-top: 0;
    height: 22rem;
  }

  .main-banner {
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }

  h1 {
    font-size: 1.33rem;
  }

  footer {
    width: 100%;
  }

  .support {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

/*query for smartphone*/

@media only screen and (max-width: 470px){
  html {
    font-size: 16px;
  }

  nav {
    width: 100%;
  }

  header {
    background-size: contain;
    background-repeat: no-repeat;
    height: 17rem
  }

  header span {
    display: none;
  }

  h1 {
    font-size: 1rem;
  }

  .navigation {
    display: none;
  }

  .hiddendesktop {
    display: flex;
  }

  .container {
    height: 17rem;
    background-position: 20%;
  }

  .main-banner {
    top: 9rem;
    padding: 1rem 0;
    background-color: white;
    margin-right: 0;
    font-size: 1rem;
    width: 100%;
  }

  .main-banner h1 {
    text-align: center;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
  }

  .support {
    display: flex;
    flex-direction: column;
  }

  h3 {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  p {
    padding: 1rem;
    font-size: .77rem;
  }

  .philosophy {
    width: 90%;
    padding: 1rem;
  }

  .appointments {
    width: 90%;
    padding: 1rem;
  }

  h3 {
    width: 90%;
    text-align: center;
  }

  footer {
    width: 60%;
    justify-content: center;
  }

  footer span {
    display: none;
  }

  footer img {
    margin: 0 auto;
  }

}
