/*universal style*/

html {
  font-size: 18px;
  line-height: 1.4;
}

/*logo styles*/

.logo {
  padding-top: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
}

.navigation {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*navigation style*/

nav {
  color: white;
  max-width: 960px;
  margin-top: 1rem;
  background-color: cadetblue;
  margin: 0 auto;
}

span {
  padding-right: 2rem;
  color: white;
}

span .logo {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
}

.hiddendesktop {
  display: none;
}

/*header with background image*/

header {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  height: 30rem;
  background-position: center;
  width: 100%;
}

.main-banner {
  padding: 1.5rem 5rem 1.5rem 5rem;
  background-color: white;
  padding-right: 5rem;
}

.flex  {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 300px;
  margin-top: 5rem;
}

h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/*services styles*/

#services {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  height: 8rem;
  margin: 3rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.service h2 {
  margin: 0;
}

#exams {
  margin-right: 3rem;
}

#exams img {
  width: 3.5rem;
}

#fittings {
  margin-left: 3rem;
  margin-right: 3rem;
}

#fittings img {
  width: 5rem;
}

#delivery {
  margin-left: 3rem;
}

#delivery img {
  width: 5rem;
}

/*support styles*/

#about {
	width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.aboutBlock {
	width: 35%;
	display: inline-block;
	margin-bottom: 5rem;
	margin-right: 5%;
}

.aboutBlock h3 {
	width: 10rem;
	padding: .5rem 1.25rem;
	background-color: cadetblue;
	color: white;
	margin-bottom: 1rem;
	margin-right: 5%;
}

/*footer styles*/

.footer-container {
  background-color: azure;
  max-width: 960px;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

footer img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}

footer span {
  color: black
}

/*media queries*/

/*query for tablet*/

@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
  }

  nav {
    width: 100%
  }

  header {
    width: 100%;
    margin-top: 0;
    height: 22rem;
  }

  .main-banner {
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }

  h1 {
    font-size: 1.33rem;
  }

  footer {
    width: 100%;
  }

  #about {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

/*query for smartphone*/

@media only screen and (max-width: 600px){
  html {
    font-size: 16px;
  }

  nav {
    width: 100%;
  }

  header {
    background-size: cover;
    background-repeat: no-repeat;
    height: 17rem
  }

  header span {
    display: none;
  }

  h1 {
    font-size: 1rem;
  }

  .navigation {
    display: none;
  }

  .hiddendesktop {
    display: flex;
    justify-content: flex-end;

  }

  .container {
    background-position: 20%;
  }

  .main-banner {
    top: 9rem;
    padding: 1rem 0;
    background-color: white;
    margin-right: 0;
    font-size: 1rem;
    width: 100%;
  }

  .main-banner h1 {
    text-align: center;
  }

  #services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about {
    display: flex;
    flex-direction: column;
  }

  .aboutBlock {
    width: 90%;
    padding: 1rem;
  }

  .aboutBlock h2 {
    width: 90%;
    text-align: center;
  }

  .aboutBlock h3 {
    width: 100%;
    text-align: center;
  }

  footer {
    width: 100%;
  }

  footer img {
    display: flex;
    justify-content: center;
  }

  footer span {
    display: none
  }
}
